@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: teal;
  font-family: "Courier New", Courier, monospace;
}

.app {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Special Elite", cursive;
}

.replay {
  padding-bottom: 8rem;
  cursor: pointer;
  width: 12px;
}

.play {
  margin-top: 9rem;
  cursor: pointer;
  height: 66px;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.time-select button,
.sound-picker button {
  color: white;
  width: 34%;
  height: 4rem;
  background: none;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

a {
  color: teal;
}

a:link {
  color: teal;
  font-size: 1.6rem;
  font-weight: 600;
}

a:hover {
  color: firebrick;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.sound-picker button:nth-child(1) {
  background: #4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.time-display {
  color: teal;
  position: absolute;
  margin-top: 2rem;
  font-size: 4rem;
  bottom: -2%;
  font-family: "Special Elite", cursive;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -10;
}

#time {
  font-family: "Special Elite", cursive;
}

/* Smartphones */
@media (min-width: 359px) and (max-width: 500px) {
  .sound-picker {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .sound-picker button {
    border: none;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    border-radius: 50%;
  }

  .sound-picker button img {
    height: 100%;
  }

  #time {
    display: none;
  }

  .time-display {
    top: 70%;
    font-size: 2rem;

  }

  img.play {
    width: 50px;
    margin-bottom: 0;
  }

  .replay {
    padding-bottom: 8rem;
    width: 10px;
  }

  .time-select {
    margin-right: 1rem;
  }

  .player-container {
    height: 55%;
    widows: 55%;
  }
}

b {
  color: black;
}

/* Tablet */

@media (min-width: 501px) and (max-width: 813px) {
  #time {
    display: none;
  }

  .sound-picker {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .sound-picker button {
    border: none;
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    border-radius: 50%;
  }

  .sound-picker button img {
    height: 100%;
  }

  #time {
    display: none;
  }

  .time-select {
    margin-right: 1rem;
  }

  .time-display {
    font-size: 2rem;
  }
}